.games {
  padding-top: 100px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  :global(img) {
    transition: box-shadow .5s, transform .3s,;
    cursor: pointer;
    border-radius: 8px;
    object-fit: contain;
    background: #000;

    &:hover {
      box-shadow: 0 24px 45px rgb(82, 82, 82);
    }
  }

  :global(figure) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    transition: all 0.3s;

    &:hover {
      :global(figcaption) {
        color: #fff;
        background: #000000d6;
      }
    }
  }

  :global(figcaption) {
    border-radius: 5px;
    padding: 4px 12px;
    margin: 2vh 0 4vh;
    font-size: 18px;
    color: #ccc;
    transition: all 0.5s;
  }
}

.poetryA {
  position: fixed;
  left: 80px;
  top: 100px;
  writing-mode: vertical-lr;
  font-size: 28px;
  color: #666;
}

.poetryB {
  position: fixed;
  left: 40px;
  top: 210px;
  writing-mode: vertical-lr;
  font-size: 28px;
  color: #666;
}

.count {
  position: fixed;
  right: 25px;
  bottom: 15px;
  font-size: 28px;
  color: #666;
}
